<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Login Page</title>
<link rel="stylesheet"  th:href="@{/css/style.css}">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- error message  -->


    <div th:if="${session.message}" class="container">

        <div class="alert alert-danger my-2 text-center" role="alert">

            <span th:text="${session.message}"></span>

        </div>

        <th:block th:text="${#session.removeAttribute('message')}"></th:block>

    </div>

	<form method="post" th:action="@{/change-password}">

		<h2 class="title">Change Password</h2>

		<div class="div">
			<input required id="email" type="text" placeholder="Enter Password here" class="input" name="newpassword">
		</div>
		<div class="submit">
        <input type="submit" class="btn" value="change password">
		</div>
    </form>
</body>
</html>
