/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #161a84;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #3adbf4;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  color: #45a049;
}

.login-content {
  max-width: 400px;
  margin: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.div {
  margin-bottom: 15px;
}

.alert {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/* Login Page Styles */

#username, #password {
  font-size: 16px;
}

.btn {
  margin-top: 10px;
}

/* Registration Page Styles */

#Username, #email, #Password , #Name ,#Phonenumber{
  font-size: 16px;
}

#Password + .div {
  margin-bottom: 30px;
}

.forgot-password {
  text-align: right;
}
.submit{
  text-align: center;
  padding: 10px 20px;
}

/* Admin Dashboard */

/* sidebar */

.sidebar
{
  width: 18%;
  background: rgb(140, 235, 244);
  height: 100%;
  position: fixed;
  padding-top: 45px;
  margin-right: 82%;
}
.sidebar .Heading
{
  margin-top: -25px;
  margin-bottom: 20px;
  font-size: 35px;
  padding: 10px,10px;
}
.sidebar a
{
  display: block;
  width: 100%;
  padding: 20px 25px;
  text-decoration: solid;
  color: black;
}
.sidebar a:hover
{
  background: #e2e2e2;
}
.sidebar .divider
{
  height: 2px;
  width: 100%;
  background: #e2e2e2;
}
.content
{
  margin-bottom: 42%;
  margin-right: 40%;
}
.sidebar .crossBtn
{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  cursor: pointer;
}
.dashboard{
  background-image: url("/src/main/resources/static/Img/Dashboard.jpeg");
}