<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Form</title>
    <link rel="stylesheet" th:href="@{/css/Profile_Form.css}">
</head>
<body background="Images/lab5.jpg">
    <section>
        <div class="main">
            <div class="register">
                <h2>User Profile</h2>
                <form action="#" id="register" method="post" th:action="@{/process-profile}" th:object="${profile}" enctype="multipart/form-data">
                <label>First Name : </label>
                <br>
                <input type="text" name="firstname" id="name" placeholder="Enter Your First Name">
                <br><br>
                <label>Last Name : </label>
                <br>
                <input type="text" name="lastname" id="name" placeholder="Enter Your Last Name">
                <br><br>
                <label>Age : </label>
                <br>
                <input type="number" name="age" id="name" placeholder="How Old are you?">
                <br><br>
        
                <label>Gender : </label>
                <br>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" id="male">
                &nbsp;
                <span id="male">Male</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" id="female">
                &nbsp;
                <span id="female">Female</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" id="other">
                &nbsp;
                <span id="other">Other</span>
                <br><br>
                
                <label>Blood Group : </label>
        
                <select>
                    <option selected disabled>Select</option>
                    <option>A +</option>
                    <option>A -</option>
                    <option>B +</option>
                    <option>B -</option>
                    <option>AB +</option>
                    <option>AB -</option>
                    <option>O +</option>
                    <option>O -</option>
                    
                </select>		
                &nbsp;&nbsp;&nbsp;&nbsp;
                <br>	<br>
                <label>Email : </label>
                <br>
                <input type="text" name="email" id="name" placeholder="Enter Your Valid Email">
                <br><br>
                <label>Address : </label>
                <br>
                <input type="text" name="address" id="name" placeholder="Enter Your Address">
                <br><br>
                <input type="submit" value="Submit" name="submit" id="submit">
                </form>
            </div>
            </div>
        
    </section>
    
</body>
</html>
