<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base html</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <!-- sidebar -->
    <div class="sidebar">

        <div class="Heading">User Dashboard</div>
        <div class="divider"></div>
        <a href="#" th:href="@{/View_Profile}" class="item"> <i class="fa-solid fa-user"></i> View Profile</a>
        <a href="#" th:href="@{/Add_Profile_Form}" class="item"> <i class="fa-sharp fa-solid fa-address-card"></i> Add
            Profile</a>
        <a href="#" th:href="@{/Book_Test}" class="item"> <i class="fa-solid fa-vial"></i> Tests</a>
        <a href="#" class="item"> <i class="fa-sharp fa-solid fa-download"></i> Download Report</a>
        <a href="#" th:href="@{/Logout}" class="item"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        <div class="divider"></div>
    </div>

    <!-- End sidebar -->

    <!-- Content area -->



    <div class="container text-center align-content-center justify-content-center">
        <div class="row">
            <div class="col-8 offset-3">
                <div th:replace="${content}"></div>
            </div>
        </div>



    </div>

    <!-- End Content -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>