<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">

		<title>Registration Page</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<!-- Success message  -->
		<div th:if="${param.success}">
			<div class="alert alert-info">You've successfully registered..!!!</div>
		</div>

		<div class="login-content">
			<form th:action="@{/register}" method="post" th:object="${user}">
				<h2 class="title">Register</h2>

				<div class="div">
					<input id="Name" type="text" placeholder="Name" class="input"
						th:field="*{Name}" required="required" pattern="[A-Za-z ]+"
						title="Please enter only letters"> <span
						th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}"
						class="error"></span>
				</div>
	
				<div class="div">
					<input type="text" name="username" th:value="${user.username}"
						id="Username" placeholder="Username" class="input"
						th:field="*{username}" required="required"> <span
						th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
						class="error"></span> <span
						th:if="${usernameExistsError}"
						style="color: red">Username already exists</span>
				</div>
				<div class="div">
					<input id="Email" type="email" placeholder="Email" class="input"
						th:field="*{Email}" required="required"> <span
						th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}"
						class="error"></span> <span th:if="${errorMessage}"
						th:text="${errorMessage}" style="color: red"></span> <span
						th:if="${emailExistsError}" style="color: red">Email already
						exists</span>
				</div>
				<div class="div">
					<input id="Phonenumber" type="text" placeholder="Phone no"
						class="input" th:field="*{Phoneno}" required="required"
						pattern="[0-9]{10}" title="Please enter a 10-digit phone number">
					<span th:if="${#fields.hasErrors('Phoneno')}" th:errors="*{Phoneno}"
						class="error"></span> <span th:text="${errorMessage}"
						style="color: red"></span>
				</div>
	
				<div class="div">
					<input id="password" type="password" placeholder="Password"
						   class="input" th:field="*{password}" required="required"
						   pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[a-z]).{8,}$"
						   title="Password must contain at least one uppercase letter, one symbol, and one lowercase letter, and be at least 8 characters long">
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
					<input type="checkbox" onclick="togglePasswordVisibility()"> Show Password
					<input type="submit" class="btn" value="Register">
				  </div>
				  
				  <script>
				  function togglePasswordVisibility() {
					var passwordInput = document.getElementById("password");
					if (passwordInput.type === "password") {
					  passwordInput.type = "text";
					} else {
					  passwordInput.type = "password";
					}
				  }
				  </script>
				  
				<!-- <div class="div">
				<input id="Password" type="password" placeholder="Confirm Password"
					class="input">
			</div> -->
				<span>Already have an account? <a  style="color: rgb(51, 51, 188);" th:href="@{/login}">Login Here</a></span>
			</form>
		</div>

		<script>
			var username = document.getElementsByName("username")[0].value;
		</script>
	</body>
</html>
