<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
    <link rel="stylesheet" href="dashboard.css">
</head>
<body background="Images/Dashboard.jpeg">
    <section>
        <h1>Welcome to User Dashboard</h1>
    </section>
    
</body>
</html>